<div class="container">
    <div class="row">
        <div class="col m12 s12 ">
            <div class="section banner">
                <p class="flow-text center-align">design a test</p>
            </div>
            <div class="divider"></div>
            <div class="input-for-test white">
                <div class="row">
                    <div class="col m8 offset-m2 s12">
                        <div class="section">
                            <div class="row">
                                <div class="input-field col s6 offset-s3">
                                    <input id="first_name2" type="text" class="validate" ng-model="createTestCtrl.name">
                                    <label class="active" for="first_name2">test name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6 offset-s3">
                                    <input id="first_name2" type="number" class="validate" ng-model="createTestCtrl.score">
                                    <label class="active" for="first_name2">total score for test</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6 offset-s3">
                                    <input id="first_name2" type="number" class="validate" ng-model="createTestCtrl.questions">
                                    <label class="active" for="first_name2">Total Questions</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6 offset-s3">
                                    <input id="first_name2" type="text" class="validate" ng-model="createTestCtrl.details">
                                    <label class="active" for="first_name2">test details</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6 offset-s3">
                                    <input id="first_name2" type="number" class="validate" ng-model="createTestCtrl.time">
                                    <label class="active" for="first_name2">duration in hrs</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6 offset-s3">
                                    <div class="input-field col s6 offset-s4">
                                        <a class="waves-effect waves-light btn" ng-click="createTestCtrl.createTest()" > submit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
