<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <div class="container">
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li ><a href="#/user">dashboard</a></li>
                        <li class="active"><a href="#/user/take_test">take test</a></li>
                        <li > <a class="collection-item" ng-click="singleTestCtrl.loggout()">loggout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>


<div class="container-fluid white">
    <div class="section banner">
        <h4 class="center-align"> Test </h4>
    </div>
    <div class="row">
        <div class=" questions col m8 s12 offset-s2 ">
            <div >
                <div class="section">
                	<p class="left-align">Time {{singleTestCtrl.minutes}}:{{singleTestCtrl.seconds}}</p>
                    <p class="left-align"> Q {{singleTestCtrl.index+1}}: {{singleTestCtrl.question[singleTestCtrl.index].Question}}</p>
                    <p>
                        <input name="group1" ng-model="singleTestCtrl.options" type="radio" id="test1" ng-value="'Option_A'" />
                        <label for="test1">{{singleTestCtrl.question[singleTestCtrl.index].Option_A}} </label>
                    </p>
                    <p>
                        <input name="group1" ng-model="singleTestCtrl.options" type="radio" id="test2" ng-value="'Option_B'" />
                        <label for="test2">{{singleTestCtrl.question[singleTestCtrl.index].Option_B}}</label>
                    </p>
                    <p>
                        <input name="group1" ng-model="singleTestCtrl.options" type="radio" id="test3" ng-value="'Option_C'" />
                        <label for="test3">{{singleTestCtrl.question[singleTestCtrl.index].Option_C}}</label>
                    </p>
                    <p>
                        <input name="group1" ng-model="singleTestCtrl.options" type="radio" id="test4" ng-value="'Option_D'" />
                        <label for="test4">{{singleTestCtrl.question[singleTestCtrl.index].Option_D}}</label>
                    </p>
                </div>
                <div>
                	<p class=" col m4 s12 offset-m2">
                        <a ng-click="singleTestCtrl.setOption(singleTestCtrl.question[singleTestCtrl.index]._id)" class="waver-effect waves-light btn ">Next Question</a>
                    </p>
                	
                </div>
                <div class="divider"></div>
            </div>
           
        </div>
        
    </div>
</div>
