<div class="container">
    <div class="row">
        <div class="col m5 offset-m4 s12">
            <div class="section banner">
                <div class="center-align">
                    <h5 class="flow-text">change your password</h5>
                </div>
            </div>
            <div class="section white">

                <div class="row">

                    <div class="input-field col s6 offset-s3">
                        <input  id="first_name2" type="password" class="validate" ng-model="passCtrl.password">
                        <label class="active" for="first_name2">change password</label>
                    </div>
                </div>
                
                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <a class="waves-effect waves-light btn" ng-click="passCtrl.changePassword()">Apply changes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

