<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <div class="container">
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li><a href="#/signup">Signup</a></li>
                        <li><a href="#/">login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col s12 m7">
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="introduction">
                            <h6 class="flow-text">Extremely light weight System</h6>
                            <p class="flow-text">an interactive test system built to provide you with high End UI and give on the spot results with evaluation ,demographics and everything. admin creates tests and keep close observation on your data .now give test anywhere , practice and expand the horizon of knowledge</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-box  card-panel container white col s12 m5  ">
            <div class="row">
                <div class="section banner">
                    <div class="center-align">
                        <h5>login</h5>
                    </div>
                </div>
                <div class="divider">
                </div>
                <br>
                <div class=" container login-input">
                    <div class="row">
                        <div class="input-field col s6 offset-s3">
                            <input id="first_name2" type="email" class="validate" ng-model="loginCtrl.email">
                            <label class="active" for="first_name2">email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6 offset-s3">
                            <input id="first_name2" type="password" class="validate" ng-model="loginCtrl.password">
                            <label class="active" for="first_name2">password</label>
                        </div>
                    </div>
                    <p class="center-align">
                        <a href="#/forgot-password">forgot password?</a>
                    </p>
                    <div class="row">
                        <div class="input-field col s6 offset-s4">
                            <a class="waves-effect waves-light btn" ng-click="loginCtrl.postLoginDetails()">Submit</a>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <p class="center-align">continue using <a href="#/signup">Email</a> for signup</p>
                        <p class="center-align">or login using</p>
                        <div class="input-field col s3 ">
                            <a href="./userAuth/login/google" class="btn google">Google</a>
                        </div>
                        <div class="input-field col s3 offset-s4 ">
                            <a href="./userAuth/login/facebook" class="btn facebook">Facebook</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
