<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <div class="container">
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li><a href="#/signup">Signup</a></li>
                        <li><a href="#/">login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col m5 offset-m4 s12">
            <div class="section banner">
                <div class="center-align">
                    <h5 class="flow-text">we will send an otp to your registered email</h5>
                </div>
            </div>
            <div class="section white">
                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <input id="first_name2" type="text" class="validate" ng-model="otpCtrl.otp">
                        <label class="active" for="first_name2">otp</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <a class="waves-effect waves-light btn" ng-click="otpCtrl.verifyOTP()">verify</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
