<header>
    <div class="navbar">
        <nav>
            <div class="nav-wrapper">
                <div class="container">
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li><a href="#/user">dashboard</a></li>
                        <li><a href="#/user/take_test">Take test</a></li>
                        <li> <a class="collection-item" ng-click="scorecard.loggout()">loggout</a></li>
                    </ul>
                    <ul id="mobile-demo" class="side-nav">
                        <li><a href="#/user">dashboard</a></li>
                        <li><a href="#/user/take_test">Take test</a></li>
                        <li> <a class="collection-item" ng-click="scorecard.loggout()">loggout</a></li>
                    </ul>
                </div>
            
                <script>
                $(document).ready(function() {
                    $(".button-collapse").sideNav();
                })
                </script>
            </div>
        </nav>
    </div>
</header>
<div class="container-fluid white ">
    <div class="section banner">
        <h4 class="center-align">score</h4>
    </div>
    <div class="row ">
        <div class="col m8 ">
            <div class="section">
                <table>
                    <thead>
                        <tr>
                            <th>test Name</th>
                            <th>completion Time (in hrs)</th>
                            <th>correct answer</th>
                            <th>score earned(out of {{scorecard.result.test[0].total_score}})</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{scorecard.testName}}</td>
                            <td>{{scorecard.minutes}}:{{scorecard.seconds}}</td>
                            <td>{{scorecard.result.score[scorecard.result.score.length-1].total_correct_answered}}</td>
                            <td>{{scorecard.score}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
