<div class="container">
	<div class="row">
		<div class="col m8 offset-m2">
			<div class="section banner">
				<h4 class="center-align">score</h4>
			</div>
			<div class="section white">
				<table>
					<thead>
						<tr>
							<th>test Name</th>
							<th>completion Time (in hrs)</th>
							<th>correct answer</th>

							<th>score earned(out of {{scorecard.result.test[0].total_score}})</th>
						</tr>

					</thead>
					<tbody>
						<tr>
							<td>{{scorecard.testName}}</td>
							<td>{{scorecard.minutes}}:{{scorecard.seconds}}</td>
							<td>{{scorecard.result.score[scorecard.result.score.length-1].total_correct_answered}}</td>
							<td>{{scorecard.score}}</td>
						</tr>
					</tbody>
				</table>
				
			</div>
		</div>
	</div>
</div>